{% extends 'base.html' %}

{% load static %}

{% block content %}




 <!-- Header -->
 
 <header id="header" class="header bg-gray">
   
  <div class="container">

      <div class="row">
          <div class="col-xl-6">
            {% if messages %}

          {% for message in messages %}

          <div id="message" class="container">
          <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} role="alert">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button> 
              {% if message.level == DEFAULT_MESSAGE_LEVELS %} {% endif %}
              {{ message }}
          </div>
          </div>
          {% endfor %}

      {% endif %}

              <div class="text-container">
                  <h1 class="h1-large">CBIR and Recommendation <span class="red">based on User Reviews</span></h1>
                  <p class="p-large">"Discover and personalize your experience through CBIR and User Review Recommendations"</p>

                  <!-- Sign Up Form -->
                  <form id="#signUpForm" action="{% url 'upload' %}" method="POST"  style="display: flex; align-items: center; padding: 20px;" enctype="multipart/form-data">
                    {% csrf_token %}
                      <input type="file" id="sphoto" name="image"  required style="width: 70%; padding: 20px; font-size: 18px; border-radius: 10px; border: 2px solid #ccc; margin-right: 20px;">
                      <button type="submit" style="width: 30%; padding: 20px; font-size: 18px; background-color: #4CAF50; color: white; border: none; border-radius: 10px;">Upload</button>
                  </form>
              </div> <!-- end of text-container -->
          </div> <!-- end of col -->
          <div class="col-xl-6">
              <div class="image-container">
                  <img class="img-fluid" src="{% static 'images/header.svg' %}" alt="alternative">
              </div> <!-- end of image-container -->
          </div> <!-- end of col -->
      </div> <!-- end of row -->
  </div> <!-- end of container -->
</header> <!-- end of header -->



<!-- Introduction -->
<div id="intro" class="basic-1">
  <div class="container">
      <div class="row">
          <div class="col-xl-7">
              <div class="text-container">
                  <div class="title-wrapper">
                      <span class="fa-stack">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fas fa-book-reader fa-stack-1x"></i>
                      </span>
                      <h4>What is CBIR and Recommendation based on User Reviews ?</h4>
                  </div> <!-- end of title wrapper -->
                  <p>CBIR stands for Content-Based Image Retrieval, a computer vision technique used to retrieve images from a large database based on their visual content. 
                      It involves analyzing the features of images, such as color, texture, shape, and object location, and using these features to search for similar images.<br><br>
                      Recommendation based on User Reviews refers to a recommendation system that suggests items to users based on the reviews or ratings provided by other users. 
                      This system analyzes the historical user data, such as purchase history or product ratings, to generate personalized recommendations for each user. It is commonly used in e-commerce websites and online platforms to improve the user experience and increase sales.</p>
              </div> <!-- end of text-container -->
          </div> <!-- end of col -->
          <div class="col-xl-5">
              <div class="text-box bg-gray">
                  <div class="title-wrapper">
                      <span class="fa-stack">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fas fa-globe fa-stack-1x"></i>
                      </span>
                      <h4>Our websites</h4>
                  </div> <!-- end of title wrapper -->
                  <ul class="list-unstyled li-space-lg">
                      <li class="media">
                          <i class="fas fa-chevron-right"></i>
                          <div class="media-body"><strong>Shoeasy</strong></div>
                      </li>
                      <li class="media">
                          <i class="fas fa-chevron-right"></i>
                          <div class="media-body"><strong>KhwopaKart</strong></div>
                      </li>
                  </ul>
              </div> <!-- end of text-container -->
          </div> <!-- end of col -->
      </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- end of introduction -->


<!-- Takeaways -->
<div id="takeaways" class="cards-1">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h2 class="h2-heading">Our Features</h2>
          </div> <!-- end of col -->
      </div> <!-- end of row -->
      <div class="row">
          <div class="col-lg-12">
              
              <!-- Card -->
              <div class="card">
                  <div class="card-image">
                      <img class="img-fluid" src="{% static 'images/takeaways-icon-1.svg' %}" alt="alternative">
                  </div>
                  <div class="card-body">
                      <h5 class="card-title">Image & Video Search</h5>
                  </div>
              </div>
              <!-- end of card -->

              <!-- Card -->
              <div class="card">
                  <div class="card-image">
                      <img class="img-fluid" src="{% static 'images/takeaways-icon-2.svg' %}" alt="alternative">
                  </div>
                  <div class="card-body">
                      <h5 class="card-title">Realtime Price Comparison</h5>
                  </div>
              </div>
              <!-- end of card -->

              <!-- Card -->
              <div class="card">
                  <div class="card-image">
                      <img class="img-fluid" src="{% static 'images/takeaways-icon-3.svg' %}" alt="alternative">
                  </div>
                  <div class="card-body">
                      <h5 class="card-title">Sentiment Analysis</h5>
                  </div>
              </div>
              <!-- end of card -->

              <!-- Card -->
              <div class="card">
                  <div class="card-image">
                      <img class="img-fluid" src="{% static 'images/takeaways-icon-4.svg' %}" alt="alternative">
                  </div>
                  <div class="card-body">
                      <h5 class="card-title">Recommendation</h5>
                  </div>
              </div>
              <!-- end of card -->

          </div> <!-- end of col -->
      </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of cards-1 -->
<!-- end of takeaways -->


<!-- Summary -->
<div id="summary" class="basic-2">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <div class="text-container">
                  <h2>Objectives</h2>
                  <div class="chapter">
                      <p>To recognize the label for the given image and recommend the best product
                          as per the price and sentiment analysis of the review similar products have.</p>
                  </div> <!-- end of chapter -->
              </div> <!-- end of text-container -->
          </div> <!-- end of col -->
          <div class="col-lg-6">
              <div class="image-container">
                  <img class="img-fluid" src="{% static 'images/kids.png' %}" alt="alternative">
              </div> <!-- end of image-container -->
          </div> <!-- end of col -->
      </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of basic-2 -->
<!-- end of summary -->

<!-- Testimonials -->
<br><br>
<h2 style="text-align:center;">Our Team</h2>
<br><br>
<div id= "team" class="container">
  <div class="row">
     <div class="col-lg-3 col-md-6">
        <div class="card">
           <img class="card-image" src="{% static 'images/anup.jpeg' %}" alt="alternative">
           <div class="card-body">
              <p class="testimonial-author" align="center" >Anup Kafle</p>
              <div class="social-media" align="center">
                  <a href="https://www.linkedin.com/in/anup-kafle-6617a3196/" style="color: #3f3b6b;"><i class="fab fa-linkedin fa-2x"></i></a>
               </div>
           </div>
        </div>
     </div>
     <div class="col-lg-3 col-md-6">
      <div class="card">
          <img class="card-image" src="{% static 'images/anushil.jpeg' %}" alt="alternative">
          <div class="card-body">
             <p class="testimonial-author" align="center" >Anushil Timsina</p>
             <div class="social-media" align="center">
                 <a href="https://www.linkedin.com/in/anushil-timsina-2813a11b6/" style="color: #3f3b6b;"><i class="fab fa-linkedin fa-2x"></i></a>
              </div>
          </div>
       </div>     
     </div>
     <div class="col-lg-3 col-md-6">
      <div class="card">
          <img class="card-image" src="{% static 'images/rochak.jpeg' %}" alt="alternative">
          <div class="card-body">
             <p class="testimonial-author" align="center" >Rochak Sedai</p>
             <div class="social-media" align="center">
                 <a href="https://www.linkedin.com/in/rochak-sedai-7313811b7/" style="color: #3f3b6b;"><i class="fab fa-linkedin fa-2x"></i></a>
              </div>
          </div>
       </div>       
     </div>
     <div class="col-lg-3 col-md-6">
      <div class="card">
          <img class="card-image" src="{% static 'images/sandeep.jpeg' %}" alt="alternative">
          <div class="card-body">
             <p class="testimonial-author" align="center" >Sandeep Subedi</p>
             <div class="social-media" align="center">
                 <a href="https://www.linkedin.com/in/sandeep-subedi-541395184/" style="color: #3f3b6b;"><i class="fab fa-linkedin fa-2x"></i></a>
              </div>
          </div>
       </div>
     </div>
  </div>
</div>
<br><br>



  {% endblock %}

 