{% extends 'base.html' %}

{% load static %}

{% block content %}





<section id="hero-fullscreen" class="hero-fullscreen d-flex align-items-center">

  

    <div class="container d-flex flex-column align-items-center position-relative" data-aos="zoom-out">
      {% if messages %}

          {% for message in messages %}

          <div id="message" class="container">
          <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} role="alert">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button> 
              {% if message.level == DEFAULT_MESSAGE_LEVELS %} {% endif %}
              {{ message }}
          </div>
          </div>
          {% endfor %}

      {% endif %}
      <h2>Welcome to <span>CBIR</span></h2>
      <p>Content Based Image Retrival and Recommendation based on User Reviews.</p>
      
      <div class="container">
        <form action="{% url 'upload' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
        <div class="panel">
          <div class="button_outer">
            
              
            <div class="bi bi-cloud-upload btn_upload">
              <input type="file" id="upload_file" name="image">
              Upload Image
            </div>
            
          
            <div class="processing_bar"></div>
            <div class="success_box"></div>
          </div>
        </div>
        <div class="error_msg"></div>
        <div class="uploaded_file_view" id="uploaded_view">
          <span class="file_remove">X</span>
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-outline-info btn-lg"> Submit </button>
      </div>
      </form>
      </div>
      
      
      <div class="d-flex">
        <a class="bi bi-camera-fill  btn-get-started scrollto" href="{% url 'video_upload' %}"> Live Video</a>
        <!-- <a class="bi bi-cloud-upload  btn-get-started scrollto"> Upload Photo</a> -->
        <!-- <a class="bi bi-camera-fill btn-watch-video d-flex align-items-center"><span>  Live Video</span></a> -->
      </div>
    </div>
  </section>

  <main id="main">

    <!-- ======= CBIR Process Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container">
        <h1 style="color:#2596be;">CBIR Process</h1>
        <div class="row gy-4">

          <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-activity icon"></i></div>
              <h4><a href="" class="stretched-link">Identify</a></h4>
              <p>Identify the images</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-bounding-box-circles icon"></i></div>
              <h4><a href="" class="stretched-link">Search</a></h4>
              <p>Search the image labels</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-calendar4-week icon"></i></div>
              <h4><a href="" class="stretched-link">Compare</a></h4>
              <p>Compare the product </p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-broadcast icon"></i></div>
              <h4><a href="" class="stretched-link">Result</a></h4>
              <p>Display</p>
            </div>
          </div>

        </div>

      </div>
    </section>

    <!-- ======= About CBIR Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>About Us</h2>
        </div>
        <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-5">
            <div class="about-img">
              <img src="{% static 'img/about.jpg' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-7">
            <!-- Tab Content -->
            <div class="tab-content">

              <div class="tab-pane fade show active" id="tab1">

                <p class="fst-italic">Finding the exact product that's required has always been a problem. Product search with images is very rarely used by e-commerce sites. Reviews for the product can be vague and most of the time might be done by the seller to outfox the probable customer. So comes CBIR to solve following problems: </p>
                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>To recognize the label for the given image.</h4>
                </div>
                <p></p>

                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>To recommend the best product as per the price and sentiment analysis of
                    the reviews the product possess.</h4>
                </div>
                <p></p>
              </div><!-- End Tab 1 Content -->
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Team</h2>
          <p></p>
        </div>

        <div class="row gy-5">

          <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'img/team/team-1.jpg' %}" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <div class="social">
                  <a href="https://twitter.com/anupkaphle24" target="_blank" ><i class="bi bi-twitter"></i></a>
                  <a href="https://www.facebook.com/anupkafle24" target="_blank"><i class="bi bi-facebook"></i></a>
                  <a href="https://www.instagram.com/on_up2/" target="_blank" ><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/anup-kafle-6617a3196/" target="_blank"><i class="bi bi-linkedin"></i></a>
                </div>
                <h4>Anup Kafle</h4>
                <!-- <span>Chief Executive Officer</span> -->
              </div>
            </div>
          </div><!-- End Team Member -Anup  -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'img/team/team-2.jpg' %}" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <div class="social">
                  <a href="https://twitter.com/AnushilTimsina" target="_blank" ><i class="bi bi-twitter"></i></a>
                  <a href="https://www.facebook.com/anushil.timsina.9" target="_blank" ><i class="bi bi-facebook"></i></a>
                  <a href="https://www.instagram.com/anushil09/" target="_blank" ><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/anushil-timsina-2813a11b6/" target="_blank" ><i class="bi bi-linkedin"></i></a>
                </div>
                <h4>Anushil Timsina</h4>
                <!-- <span>Machine Learning Engineer, FuseMachines</span> -->
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="600">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'img/team/team-3.jpg' %}" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <div class="social">
                  <a href="https://twitter.com/rochak_sedai" target="_blank" ><i class="bi bi-twitter"></i></a>
                  <a href="https://www.facebook.com/sedairochak" target="_blank" ><i class="bi bi-facebook"></i></a>
                  <a href="https://www.instagram.com/rochak_sedai12/" target="_blank" ><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/rochak-sedai-7313811b7/" target="_blank" ><i class="bi bi-linkedin"></i></a>
                </div>
                <h4>Rochak Sedai</h4>
                <!-- <span>Data Engineer, CodeRush</span> -->
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="800">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'img/team/team-4.jpg' %}" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <div class="social">
                  <a href="" target="_blank" ><i class="bi bi-twitter"></i></a>
                  <a href="https://www.facebook.com/sandeep.subedi.735" target="_blank" ><i class="bi bi-facebook"></i></a>
                  <a href="" target="_blank" ><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/sandeep-subedi-541395184/" target="_blank" ><i class="bi bi-linkedin"></i></a>
                </div>
                <h4>Sandeep Subedi</h4>
                <!-- <span>CTO</span> -->
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-header">
          <h2>Contact Us</h2>
          <!-- <p>Ea vitae aspernatur deserunt voluptatem impedit deserunt magnam occaecati dssumenda quas ut ad dolores adipisci aliquam.</p> -->
        </div>

      </div>
      <div class="container">

        <div class="row gy-5 gx-lg-5">

          <div class="col-lg-4">

            <div class="info">
              <h3>Get in touch</h3>
              <!-- <p>Et id eius voluptates atque nihil voluptatem enim in tempore minima sit ad mollitia commodi minus.</p> -->

              <div class="info-item d-flex">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h4>Location:</h4>
                  <p>Libali, Bhaktapur - 8
                    Bhaktapur, NP 44800</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h4>Email:</h4>
                  <p>info@cbirandrecommendation.com</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-phone flex-shrink-0"></i>
                <div>
                  <h4>Call:</h4>
                  <p>+977 987654321</p>
                </div>
              </div><!-- End Info Item -->

            </div>

          </div>

          <div class="col-lg-8">
            <form action="{% url 'contact' %}" method="post" role="form">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="from_name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="from_email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" placeholder="Message" required></textarea>
              </div>
              <!-- <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div> -->
              <div class="text-center">
                <input type="submit" class="btn btn-primary btn-block" value="Send Message">
              </div>
              </form>
          </div><!-- End Contact Form -->
          
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main>



  {% endblock %}

 